numpy==1.26.4
pandas
scikit-learn
tensorflow-probability==0.25.0
seaborn
matplotlib
h5py
dm-tree
chex
optax
flax
orbax-checkpoint
ml_collections
absl-py
wrapt
typing_extensions
# JAX (CPU only due to cluster environment constraints)
jax==0.6.2
jaxlib==0.6.2
